

body{
    
    background: linear-gradient(to bottom, #e7e9ec 0%, #f374a3 100%);
    
    }
    .p{
    
    font-size: 20px;
    margin: 30px 0;
    font-family: 'Georgia', 'Times New Roman', 'Times, serif';  }