
body{
    
    background: linear-gradient(to bottom, #f5f0f1 0%, #e06d89 100%);
    
    
    }
    .p{
    
    font-size: 20px;
    margin: 30px 0;
    font-family: 'Georgia', 'Times New Roman', 'Times, serif';  }